<!-- start header -->
<div class="top_bg">
	<div class="wrap">
		<div class="header">
			<div class="logo">
				<a href="/"><img src="/assets/lovelace-logo2.png"/></a>
			</div>
			
			<div class="log_reg">
				<ul>
					<% if current_user %>
						<li><a href="../users/edit">Editar Perfil</a></li>
						<li><a href="../users/sign_out">Sair</a> </li>
					<% else %>
						<li><a href="../users/sign_in">Entrar</a> </li>
						<span class="log">  </span>
						<li><a href="/welcome_sign_up">Cadastrar</a> </li>								   
						<div class="clear"></div>
					<% end %>
				</ul>
			</div>	
			
			<div class="web_search">
				<%= form_tag products_path, :method => 'get' do %>
					<%= text_field_tag :search, params[:search] %>
				    <input type="submit" value=" " />
  				<% end %>
	    	</div>						
			<div class="clear"></div>
		</div>	
	</div>
</div>

<!-- start header_btm -->
<div class="wrap">
	<div class="header_btm">
		<div class="menu">
			<ul>					
				<li><a href="/listofproducts">Catálogo de Produtos</a></li>
				<li><a href="/request">Meus pedidos</a></li>
				<li><a href="/services">Serviços</a></li>
				<li><a href="/services">FAQ</a></li>
				<li><a href="/contact">Fale Conosco</a></li>
			</ul>
		</div>
		<div class="header_right">
			<ul>
				<li><a href="#"><i  class="cart"></i><span>0</span></a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
</div>

<%= yield %>
