<p>Bem-vindo(a) <%= @resource.email %>!</p>

<p>Você realizou o pedido de mudança de senha. Realize esta ação através de: </p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se o pedido não foi solicitado por você, por favor ignore este email.</p>
