<%= render 'header' %>

<!-- start top_bg -->
<div class="top_bg">
<div class="wrap">
<div class="main_top">
	<h2 class="style">Sobre</h2>
</div>
</div>
</div>
<!-- start main -->
<div class="main_bg">
<div class="wrap">
<div class="main">
	<div class="about">
			 <div class="cont-grid-img img_style">
	     		<img src="assets/about_pic.jpg" alt="">
	     	</div>
	       <div class="cont-grid">
			       	<h4> Institucional</h4>
			       	<p class="para">A Rishon é uma empresa gerida por mulheres, e para mulheres, com o objetivo de aumentar a autoestima feminina e, sobretudo, promover sempre o amor próprio. Grande parte do quadro de funcionários da Rishon é composto pela ala feminina, estreitando de forma amigável o relacionamento com as consumidoras.</p>
			       	<p class="para">Desde 1986, a indústria brasileira atua na fabricação, distribuição e venda das linhas de tratamento capilar Tutanat e Biorek, além do removedor de esmalte que leva o nome da empresa. Instalada em Pernambuco, a unidade comporta ainda as áreas de pesquisa e desenvolvimento.</p>
	      	</div>
	      	<div class="clear"></div>
		    	<div class="about-p">
		    	<div class="span_of_3">
					<div class="span1_of_3">
		    			<h4>Visão</h4>
			    			<p class="para">Ser referência em tratamento de cabelo nas mídias sociais e estar presente no mercado mundial.</p>
			    	</div>
			    	<div class="span1_of_3">
			    		<h4>Missão</h4>
							<p class="para">Contribuir com soluções que facilitam o cuidado dos cabelos através de produtos eficazes, compartilhando informações que agreguem valor.</p>
					</div>
					<div class="span1_of_3">
						<h4>Valores</h4>
							<ul>
								<li>1 inovação</li>								
								<li>2 Conhecimento/Informação</li>
								<li>3 Honestidade/Seriedade</li>
								<li>4 Ambiente de trabalho saudável</li>
								<li>5 Cuidado e interesse pelos consumidores</li>
								<li>6 Melhoria contínua</li>
								<li>7 Alto controle de qualidade</li>
								<li>8 Respeito ao meio ambiente</li>
							</ul>
					</div>
				<div class="read_more">
					<a class="btn" href="details.html">read more</a>
				</div>
			</div>
	</div>
</div>
</div>
</div>
<%= render 'footer' %>
</body>
</html>
