<title>FAQ</title>

<!-- start main -->
<div class="main_bg">
<div class="wrap">
<div class="main">
  <div class="new_user">
    <h3>Perguntas Frequentes</h3>
    <div class="cont-grid-img img_style">
      <img src="assets/faq.jpg" alt="">
    </div>
    <p>1. Onde posso encontrar os produtos da loja?<br>
    Os produtos podem ser encontrados na aba Catálogo de Produtos e também através da busca</p>
    <p>2. Porque devo me cadastrar?<br>
    Pra você aproveitar tudo de legal que tem aqui no site, você precisa fazer um cadastro bem simples com a gente. isso serve pra você poder interagir com os conteúdos e, claro, fazer suas comprinhas com toda segurança e conforto.</p>
    <p>3. Quais são as formas de pagamento?<br>
    Você tem 2 opções pra escolher como pagar seu pedido, pode ser com boleto bancário ou cartão de crédito. vale lembrar: o prazo de entrega do seu pedido só começa a ser contado depois que o pagamento do seu pedido for aprovado, ok?</p>

  </div>
  <div class="clear"></div>
</div>
</div>
</div>