<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!-- start slider -->
<div class="slider">
				<!---start-image-slider---->
				<div class="image-slider">
					 <div class="wrapper">
                <div id="ei-slider" class="ei-slider">
                    <ul class="ei-slider-large">
						<li>
                            <img src="assets/capa2.png" alt="image06"/>
                            <h3 class="btn">Conheça os produtos mais vendidos</h3>
                                <h2>Surpreenda-se!</h2>
                                <h3 class="active">São mais de 2.000 produtos disponíveis
                                </h3>
                        </li>
                        <li>
                            <img src="assets/mulher.png" alt="image01" />
                            <div class="ei-title-right">
                            	<h3 class="btn">FACE</h3>
                                <h2></h2>
                                <h3 class="active">Conheça nossos produtos para a face!
                                </h3>                                
                            </div>
                        </li>
                        <li>
                            <img src="assets/olhos2.png" alt="image02" />
                            <div class="ei-title-right">
                            	<h3 class="btn">OLHOS</h3>                               
                                <h3 class="active">Conheça nossos produtos para olhos! </h3>
                            </div>
                        </li>
                        <li>
                            <img src="assets/boca3.png" alt="image03"/>
                            <div class="ei-title-right">
                            	<h3 class="btn">LÁBIOS</h3>
                                  <h3 class="active">Conheça nossos produtos para lábios! </h3>
                                </h3>
                            </div>
                        </li>                        
                        <li>
                            <img src="assets/brush.jpg" alt="image05"/>
                            <div class="ei-title-right">
                            	<h3 class="btn">PINCÉIS</h3>
                                <h3 class="active">Conheça nossa coleção de pincéis! </h3>
                            </div>
                        </li>
                        <li>
                            <img src="assets/batom2.png" alt="image07"/>
                            <div class="ei-title-right">
                            	<h3 class="btn">ACESSÓRIOS</h3>
                                <h3 class="active">Conheça os acessórios mais cobiçados! </h3>
                            </div>
                        </li>
                        <li>
                            <img src="assets/kiits.jpg" alt="image07"/>
                            <div class="ei-title-right">
                            	<h3 class="btn">KITS</h3>
                                <h3 class="active">Super kits pra você ter uma penteadeira completa!</h3>
                            </div>
                        </li>
                    </ul><!-- ei-slider-large -->
                    <ul class="ei-slider-thumbs">
                        <li class="ei-slider-element">Current</li>
						<li class="hide">
                        	<a href="#">
                        		<span>Lovelace</span>
                        		<!--<p>limited edition</p> -->
                        		</a>
                        		<img src="assets/capa2.png" alt="thumb01" />
                        </li>
                        <li  class="hide1">
                        	<a href="#">
                        		<span>Face</span>
                        		<!--<p>summer is coming</p>-->
                        	</a>
                        		<img src="assets/mulher.png" alt="thumb02" />
                        </li>
                        <li class="hide1">
                        	<a href="#">
                        		<span>Olhos</span>
                        		<!--<p>Diversas sombras</p> -->
                        	</a>
                        		<img src="assets/olhos2.png" alt="thumb03" />
                        </li>
                        <li>
                        	<a href="#">
                        		<span>Lábios</span>
                        		<!--<p>free delivery</p>-->
                        	</a>
                        	<img src="assets/boca3.png" alt="thumb04" />
                        </li>
                        <li>
                        	<a href="#">
                        		<span>Pincéis</span>
                        		<!--<p>free delivery</p>-->
                        	</a>
                        	<img src="assets/brush.jpg" alt="thumb04" />
                        </li>
                        <li>
                        	<a href="#">
                        		<span>Acessórios</span>
                        		<!--<p>limited edition</p>--> 
                        	</a>
                        	<img src="assets/batom2.png" alt="thumb05" />
                        </li>
                        <li>
                        	<a href="#">
                        		<span>Kits</span>
                        		<!--<p>limited edition</p> -->
                        	</a>
                        	<img src="assets/kiits.jpg" alt="thumb07" />
                        </li>                        
                    </ul><!-- ei-slider-thumbs -->
                </div><!-- ei-slider -->
            </div><!-- wrapper -->
		</div>
		<!---End-image-slider---->	
</div
<!-- start image1_of_3 -->
<div class="top_bg">
<div class="wrap">
<div class="main1">
	<div class="image1_of_3">
		<img src="assets/img1.png" alt=""/>
	    <a href="details.html"><span class="tag">OFERTAS</span></a>
	</div>
	<div class="image1_of_3">
		<img src="assets/img2.png" alt=""/>
		<a href="details.html"><span class="tag">MAIS VENDIDOS</span></a>
	</div>
	<div class="image1_of_3">
		<img src="assets/img3.png" alt=""/>
		<a href="details.html"><span class="tag">ESPECIAIS</span></a>
	</div>
	<div class="clear"></div>
</div>
</div>
</div>
<!-- start main -->
<div class="main_bg">
<div class="wrap">
<div class="main">
	<div class="top_main">
		<h2>Novidades</h2>
		<a href="#">Mostrar Tudo</a>
		<div class="clear"></div>
	</div>
	<!-- start grids_of_3 -->
	<div class="grids_of_3">
		<div class="grid1_of_3">
			<a href="details.html">
				<img src="assets/pic1.jpg" alt=""/>
				<h3>even & odd</h3>
				<span class="price">R$145,99</span>
			</a>
		</div>
		<div class="grid1_of_3">
			<a href="details.html">
				<img src="assets/pic2.jpg" alt=""/>
				<h3>buffalo decollete</h3>
				<span class="price">R$185,99</span>
				<span class="price1 bg">Em Promoção</span>
			</a>
		</div>
		<div class="grid1_of_3">
			<a href="details.html">
				<img src="assets/pic3.jpg" alt=""/>
				<h3>even & odd</h3>
				<span class="price">R$145,99</span>
			</a>
		</div>
		<div class="clear"></div>
	</div>
	<div class="top_main">
		<h2>best sellers of the month</h2>
		<a href="#">show all</a>
		<div class="clear"></div>
	</div>
	<!-- start grids_of_3 -->
	<div class="grids_of_3">
		<div class="grid1_of_3">
			<a href="details.html">
				<img src="assets/pic4.jpg" alt=""/>
				<h3>buffalo decollete</h3>
				<span class="price">$145,99</span>
			</a>
		</div>
		<div class="grid1_of_3">
			<a href="details.html">
				<img src="assets/pic5.jpg" alt=""/>
				<h3>even & odd</h3>
				<span class="price">$185,99</span>
			</a>
		</div>
		<div class="grid1_of_3">
			<a href="details.html">
				<img src="assets/pic6.jpg" alt=""/>
				<h3>buffalo decollete</h3>
				<span class="price">$145,99</span>
				<span class="price1 bg1">out of stock</span>
			</a>
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
	<!-- start grids_of_2
	<div class="grids_of_2">
		<div class="grid1_of_2">
			<div class="span1_of_2">
				<h2>free shipping</h2>
				<p>Lorem Ipsum is simply dummy  typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			</div>
			<div class="span1_of_2">
				<h2>testimonials</h2>
				<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using [...]</p>
			</div>
		</div>
		<div class="grid1_of_2 bg">
			<h2>blog news</h2>
			<div class="grid_date">
				<div class="date1"> 
					<h4>apr 01</h4>
				</div>
				<div class="date_text">
					<h4><a href="#"> Donec vehicula est ac augue consectetur,</a></h4>
					<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p> 
				</div>
				<div class="clear"></div>
			</div>
			<div class="grid_date">
				<div class="date1"> 
					<h4>feb 01</h4>
				</div>
				<div class="date_text">
					<h4><a href="#"> The standard chunk of Lorem Ipsum used since ,,</a></h4>
					<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from </p> 
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="clear"></div>
	</div>end of grids_of_2-->
</div>
</div>
</div>
<!-- start footer -->
<div class="footer_top">
<div class="wrap">
<div class="footer">
	<!-- start grids_of_3 -->
	<div class="span_of_3">
		<div class="span1_of_3">
			<h3>Sobre nós</h3>
			<p>A Lovelace é uma empresa gerida por mulheres, e para mulheres, com o objetivo de aumentar a autoestima feminina e, sobretudo, promover sempre o amor próprio. Grande parte do quadro de funcionários da Lovelace é composto pela ala feminina, estreitando de forma amigável o relacionamento com as consumidoras.</p>
		</div>
		<div class="span1_of_3">
			<h3>Nossos contatos</h3>
            <p>
              Gama, Distrito Federal, Brasil<br>
              Telefone: +55 (61) 3124 8984<br>
              Fax: +55 (61) 3124 8984<br>
              Email: <a href="mailto:lojalovelace@gmail.com">lojalovelace@gmail.com</a><br>
              Skype: <a href="skype: lovelace ">lovelace</a>
            </p>
          </div>
		<div class="span1_of_3">
			<h3>Formas de pagamento</h3>
			<ul class="f_nav">				
				<p><li><a href="#"><img src="assets/mastercard.png" alt="" /> </a></li></p>
				<li><a href="#"><img src="assets/paypal.png" alt="" /> </a></li>
				<li><a href="#"><img src="assets/visa.png" alt="" /> </a></li>
				<li><a href="#"><img src="assets/boleto.png" alt="" /> </a></li>				
			</ul>
		</div>
		<div class="clear"></div>
	</div>
</div>
</div>
</div>
<!-- start footer -->
<div class="footer_mid">
<div class="wrap">
<div class="footer">
	<div class="f_search">
		<form>
			<h3 class="copy">Receba novidades</h3>
			<input type="text" value="" placeholder="Insira seu e-mail"/>
			<input type="submit" value=""/>
		</form>
	</div>
	<div class="soc_icons">
			<ul>
				<li><a class="icon1" href="#"></a></li>
				<li><a class="icon2" href="#"></a></li>
				<li><a class="icon3" href="#"></a></li>
				<li><a class="icon4" href="#"></a></li>
				<li><a class="icon5" href="#"></a></li>
			</ul>	
	</div>
	<div class="clear"></div>
</div>
</div>
</div>
<!-- start footer -->
<div class="footer_bg">
<div class="wrap">
<div class="footer">
		<!-- scroll_top_btn -->
	    <script type="text/javascript">
			$(document).ready(function() {
			
				var defaults = {
		  			containerID: 'toTop', // fading element id
					containerHoverID: 'toTopHover', // fading element hover id
					scrollSpeed: 1200,
					easingType: 'linear' 
		 		};
				
				
				$().UItoTop({ easingType: 'easeOutQuart' });
				
			});
		</script>
		 <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
		<!--end scroll_top_btn -->
	<div class="f_nav1">
		<ul>
			<li><a href="#">HOME / </a></li>
			<li><a href="#">SUPORTE / </a></li>
			<li><a href="#">TERMOS E CONDIÇÕES / </a></li>
			<li><a href="#">PERGUNTAS E RESPOSTAS / </a></li>
			<li><a href="#">CONTATO</a></li>
		</ul>
		</div>
	<div class="copy">
		<p class="link"><span>2015 © LOVELACE | TODOS os direitos reservados</span></p>
	</div>
	<div class="clear"></div>
</div>
</div>
</div>