<title>Serviços</title>

<!-- start main -->
<div class="main_bg">
<div class="wrap">
<div class="main">
  <div class="new_user">
    <h3>Serviços</h3>
    <div class="cont-grid-img img_style">
	    <img src="assets/service.png" alt="">
	</div>
    <p>A maior intenção da Lovelace é agradar você da melhor forma possível, para isso oferecemos os sequintes serviços pra você:</p>
    <p>* Entrega com frete grátis a partir de R$ 200<br>
    * Entrega no menor tempo possível para localidades fora de Brasília<br>
    * Entrega a domicílio para residências de Brasília<br> 
    * SAC disponível de 7h às 20h, de segunda-feira a sexta-feira<br>
	* Garantia de qualidade do produto</p>

  </div>
  <div class="clear"></div>
</div>
</div>
</div>