<title>Identificacao</title>

<!-- start main -->
<div class="main_bg">
<div class="wrap">
<div class="main">
  <div class="login_left">
    <h3>Sou cadastrado(a)</h3>
    <p>Já sou cadastrado(a). Desejo entrar.</p>
  <!-- start registration -->
  <div class="registration">
  <div class="registration_left">
    <!-- <a href="#"><div class="reg_fb"><img src="images/facebook.png" alt=""><i>sign in using Facebook</i><div class="clear"></div></div></a> -->
     <div class="registration_form">
     <!-- Form -->
      <form id="registration_form" action="/users/sign_in" method="get">          
        <div>
          <input type="submit" value="entrar" id="register-submit">
        </div>
      </form>

      <!-- /Form -->
    </div>
  </div>
  </div>
  <!-- end registration -->
  </div>
  <div class="login_left">
    <h3>Ainda não tem cadastro?</h3>
    <p>Caso não possua cadastro em nosso site, crie uma conta. Ao criar uma conta na nossa loja, você será capaz de se mover através do processo de pagamento com maior rapidez, armazenar múltiplos endereços de envio, ver e rastrear seus pedidos e muito mais.</p>

    <div class="registration_left">
    <!-- <a href="#"><div class="reg_fb"><img src="images/facebook.png" alt=""><i>register using Facebook</i><div class="clear"></div></div></a> -->
     <div class="registration_form">
     <!-- Form --> 
      <form id="registration_form" action="/users/sign_up" method="get">
        <div>
          <input type="submit" value="crie uma conta" />
        </div>
      </form>
    </div>
  </div>
  </div>
  <div class="clear"></div>
</div>
</div>
</div>